@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.grecaptcha-badge {
  visibility: hidden;
}

@layer utilities {
  .clip-skewed {
    clip-path: polygon(0 80%, 100% 0%, 100% 100%, 0 100%);
  }
}
.fc .fc-day-other .fc-daygrid-day-top {
  @apply opacity-100;
}
.fc-col-header .fc-col-header-cell {
  @apply text-center font-bold p-2; /* Tailwind classes */
}

.fc-col-header .fc-col-header-cell a {
  @apply no-underline text-sm/6 font-semibold text-gray-700;
}
.fc .fc-daygrid-day.fc-day-today {
  @apply bg-white;
}

.fc-daygrid-day-number {
  @apply text-sm/6 font-medium text-gray-700; /* Style the day number */
}
.fc .fc-daygrid-day.fc-day-today {
  @apply bg-primary-50;
}
.fc .fc-daygrid-day.fc-day-today a {
  @apply text-primary font-medium;
}
.fc .fc-daygrid-day-number {
  padding: 6px 10px;
}
.fc-toolbar-title {
  font-size: 1.25rem !important;
  @apply font-bold text-gray-800; /* Style the calendar title */
}
.fc {
  @apply bg-gray-50 border-gray-200 border-l-1; /* Style the calendar container */
}
.fc-theme-standard .fc-scrollgrid {
  @apply border-0;
}
.fc-theme-standard td,
.fc-theme-standard th {
  @apply border-1 border-solid border-gray-200;
}
.perspective {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.gm-style-iw-t > div {
  padding: 0 !important;
}

.gm-style-iw-d {
  padding: 0 !important;
  margin: 0 !important;
  overflow: visible !important;
}

/* General styles for the Tiptap editor */
.editable-tiptap .tiptap {
  @apply bg-gray-200 rounded-lg mt-4 py-1 px-2 min-h-48;
}
.tiptap p {
  @apply text-base;
}
.tiptap a {
  @apply text-blue-500 underline;
}
.tiptap h2 {
  @apply text-2xl font-bold;
}
.tiptap h3 {
  @apply text-xl font-bold;
}
.tiptap h4 {
  @apply text-lg font-bold;
}
.tiptap ul {
  @apply list-disc list-inside;
}
.tiptap ol {
  @apply list-decimal list-inside;
}
.tiptap ul li p,
.tiptap ol li p {
  @apply inline-block;
}
.tiptap img {
  @apply mx-auto max-w-96;
}
